body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    background-image: url("../image/image.jpeg");
    background-size: cover;
    background-position: center;
}

.header {
    content: "";
    display: block;
    clear: both;

    color: lightsteelblue;
    text-align: center;
    padding-top: 20px;
    position: relative;
    height: 160px;
}

.navigation {
    float: right;
    padding: 30px;
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation li {
    margin-left: 30px;
}

.navigation a {
    color: #000;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}
.section{
    font-size: 30px;
}
.myres {
    color: black;
    width: 100%;
    margin: 0 auto;
    clear: left;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.job-list {
    margin-bottom: 20px;
}

.job-title {
    font-weight: bold;
}

.job-duration {
    font-style: italic;
}

.job-description {
    margin-top: 10px;
}

/* Grid-контейнер */
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 3fr));
    grid-template-rows: auto;
    grid-gap: 10px;
    border: 1px solid #ccc;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 20px;
    padding-right: 20px;
}

.grid-item {
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.30);
    position: relative;
    overflow: clip;
    cursor: pointer;
}

.grid-item::before {
    content: "";
    position: absolute;
    top: -45px;
    left: -30px;
    width: 1600px;
    height: 3600px;
    background-image: url(../image/list2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.6;
    z-index: -1;
    border: none;
    transition: opacity 0.3s ease-in-out;
}

.grid-item:hover::before {
    opacity: 0.9;
}


.main__article {
    font-size: 20px;


}


.main__article p {

}

.collapsible {
    background-color: rgba(231, 171, 112, 60);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;

}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.kinopoisk-button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px; /* увеличиваем ширину кнопки */
    height: 80px; /* увеличиваем высоту кнопки */
    background-color: transparent;
}

.kinopoisk-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 180px; /* увеличиваем ширину логотипа */
    height: 80px; /* увеличиваем высоту логотипа */
    background-image: url("../image/logo.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.kinopoisk-button:hover::before {
    opacity: 1;
}



.profile-pic {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 40px;
}

.sidebar {

    padding: 20px;
    right: auto;
    font-size: 20px;
    margin-bottom: 40px;
}


.sidebar ul {
    list-style-type: none;
    padding: 20px;
}

.sidebar li {
    margin-bottom: 20px;
}

.html {
    width: 50%;
    background-color: #04AA6D;
}


.css {
    width: 50%;
    background-color: #2196F3;
}


.js {
    width: 35%;
    background-color: #f44336;
}


.Python {
    width: 60%;
    background-color: #3dd313;
}


.footer {
    background-color: rgba(176, 196, 222, 0.5);
    font-family: "Italic", sans-serif;

}


@media only screen and (max-width: 300px) {
    .profile-pic {
        float: none; /* убрать плавание */
        margin: 0 auto 1em; /* выровнять по центру */
    }
}
